// nav started desktop 729px 1440px 

.nav {
    margin-left: 165px;
    margin-top: 128px;

    &__ul {





        &__li:nth-child(1) {

            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 10px;
            text-align: left;
            margin-bottom: 24px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }

        &__li:nth-child(2) {

            font-size: 56px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 2px;
            text-align: left;

            color: rgba(255, 255, 255, 1);

        }

        &__li:nth-child(3) {
            color: rgba(255, 255, 255, 1);

            font-size: 56px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 2px;
            text-align: left;
            margin-bottom: 24px;
        }

        &__li:nth-child(4) {
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            opacity: 0.75;
            color: rgba(255, 255, 255, 1);
        }

        &__li:nth-child(5) {
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            opacity: 0.75;
            color: rgba(255, 255, 255, 1);
        }

        &__li:nth-child(6) {
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 40px;
            opacity: 0.75;
            color: rgba(255, 255, 255, 1);
        }

        &__li:nth-child(7) a {
            height: 48px;
            width: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(216, 125, 74, 1);
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 1px;
            text-decoration: none;
            color: rgba(255, 255, 255, 1);

        }

        &__li:nth-child(7) a:active {
            background-color: rgba(251, 175, 133, 1);

        }



    }

}

// nav finished desktop 729px 1440px 


// nav started tablet 768.22px 960px

@media (max-width: 960px) and (min-width: 768.22px) {



    .nav {

        display: flex;
        margin-left: 195.68px;



        &__ul {






            &__li:nth-child(1) {

                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 10px;
                margin-bottom: 24px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
                text-align: center;
            }

            &__li:nth-child(2) {

                font-size: 56px;
                font-weight: 700;
                line-height: 58px;
                letter-spacing: 2px;
                text-align: center;
                color: rgba(255, 255, 255, 1);

            }

            &__li:nth-child(3) {
                color: rgba(255, 255, 255, 1);

                font-size: 56px;
                font-weight: 700;
                line-height: 58px;
                letter-spacing: 2px;
                margin-bottom: 24px;
                text-align: center;
            }

            &__li:nth-child(4) {

                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
            }

            &__li:nth-child(5) {

                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
            }

            &__li:nth-child(6) {

                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: center;
                margin-bottom: 40px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
            }

            &__li:nth-child(7) a {
                position: relative;
                left: 95px;
                height: 48px;
                width: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(216, 125, 74, 1);
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1px;
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }

            &__li:nth-child(7) a:active {
                background-color: rgba(251, 175, 133, 1);

            }



        }

    }


}

// nav finished tablet 768.22px 960px


// header started mobile 375px 844px 

@media (max-width: 844px) and (min-width: 375px) {


    .nav {

        display: flex;
        margin-left: 16px;

        margin-top: 109px;

        &__ul {






            &__li:nth-child(1) {
                margin-bottom: 16px;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.5;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 10px;
                text-align: center;

            }

            &__li:nth-child(2) {
                color: rgba(255, 255, 255, 1);
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 1.2857142686843872px;
                text-align: center;


            }

            &__li:nth-child(3) {
                color: rgba(255, 255, 255, 1);
                font-size: 36px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 1.2857142686843872px;
                text-align: center;
                margin-bottom: 24px;

            }

            &__li:nth-child(4) {
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
            }

            &__li:nth-child(5) {

                text-align: center;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
            }

            &__li:nth-child(6) {

                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: center;
                margin-bottom: 28px;
                opacity: 0.75;
                color: rgba(255, 255, 255, 1);
            }

            &__li:nth-child(7) a {
                position: relative;
                left: 95px;
                height: 48px;
                width: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(216, 125, 74, 1);
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1px;
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
                text-align: center;




            }

            &__li:nth-child(7) a:active {
                background-color: rgba(251, 175, 133, 1);

            }



        }

    }


}

// header    finished mobile 375px 844px 